extends base.pug

block content 
    img(src="/" + locals.avatarUrl, width="100", height="100")
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar 
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(placeholder="Email", name="email", type="email", value=locals.email, required)
        input(placeholder="Username", name="username", type="text", value=locals.loggedInUser, required)
        input(type="submit", value="Update Profile")

    if !locals.socialOnly
        hr
        a(href="/users/change-password") Change Password &rarr;